/* .container{
  display:flexbox;
  align-content: center;
  padding: 10%;
  
}
.sliderEventos {
  background-color: blueviolet;
  display:flexbox;
  align-content: center;
  height: 250vh;
  width: 70vw;
  font-size:medium;
  padding: 10px;
} 
.homeVideos {
  display:flexbox;
  text-align: center;
  padding: 30px;
  height:min-content;
  background-color: rgb(211, 232, 232);
}
.videos-container {
  display: flexbox;
  align-items: flex-start;
 
}} */
/* .test-container{
  display:flex;
}
.test-texto{
  height: 60px;
  width: 600px;
}
.test-imagen{
 
 
} */
/*.frasesMotivacionales-container{
  background-color:chocolate;
  text-align: center;
  padding: 30px;
  height: 50vh;
  width: 70vw;
}
.sliderReseñas-container{
  background-color:rgb(226, 232, 48);
  text-align: center;
  padding: 30px;
  height: 50vh;
  width: 70vw;
} */
 